{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container py-5">
    <h2>Об авторе</h2>
    <hr>
      <article>
        <ul>
          <li>
            Мария Веретенникова
          </li>
          <li>
            Родилась в городе невест — в Иваново.<br>
            На данный момент проживаю в Москве.
          </li>
          <li>
            Дата рождения: 28 апреля 1996 г.
          </li>
          <li>
            E-mail: veret.maria@gmail.com
          </li>
          <li>
            Тел.: +7 (964) 495-34-61
          </li>
          <li>
            Инстаграм: <a href="https://www.instagram.com/maria.veret/">maria.veret</a>
          </li>
          <li>
            Аккаунт Github: <a href="https://github.com/maria-veret">maria-veret</a>
          </li>
        </ul>
        <hr>      
        <p>
          В мире программирования ощущаю себя неуютно.<br>
          Надеюсь со временем это чувство рассеется.<br>
          Пока что выживаю с помощью магии и активного использования гугла.<br>
          <i>(А вообще... я бы очень хотела сделать эту страницу супер-красивой и понять 
            от и до что я делала в проекте. Но у меня совсем нет на это времени, слииишком много информации. И это грустно!)</i> &#128549 &#128549 &#128549
        </p>
        <p>
          В становлении программистом мне помогает мой кот Остап.<br>
          Он слишком привередлив в корму и привык жить на широкую лапу, поэтому мне нужно больше зарабатывать.<br>
          Чувство ответственности не дает мне расслабиться.<br>
        </p>
        <p>
          Мое рабочее место — теплая кровать после работы:
        </p>
          <img src="{% static 'img/home.png' %}" width="750" height="500">
      </article>
  </div>  
{% endblock %}